/* start global  */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root {
    --main-padding: 0px;
    --color1:#D15E00;
    --color2:#030708;
    --color3:#BFC2BF;
}
body {
    background-image: url(../img/1.jpg);
    background-size: cover;
}
@media screen and (max-width:992px) {
    body {
        background-image: url(../img/3.PNG);
    }
}
html {
    scroll-behavior: smooth;
}
ul {
    list-style: none;
}
/* end global  */
/* start header  */
header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px 20px;
}
header h1 {
    color: var(--color1);
    font-size: 50px;
}
header .bar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
    align-items: center;
    position: relative;
}
header .bar i {
    font-weight: bold;
    color: white;
    font-size: 30px;
    margin-right: 20px;
    display: none;
}
@media screen and (max-width:992px) {
    header .bar i {
        display: block;
    }
}
/* header .bar ul::after { 
    content: "";
} */
header .bar ul li {
    display: inline-block;
    margin-right: 82px;
}
@media screen and (max-width:992px) {
    header .bar ul li {
        display: none;
    }
    header .bar i:hover + ul::after {
        content: "";
        border-width: 22px;
        border-style: solid;
        border-color: transparent transparent #d15e008a transparent;
        width: 0;
        height: 0;
        z-index: 5;
        position: absolute;
        top: -44px;
        right: 20px;
    }
    header .bar i:hover + ul {
        position: absolute;
        top: 100%;
        left: 0;
        background: #d15e008a;
        width: 100%;
        margin-top: -24px;
        border-radius: 10px;
        padding: 20px;
    }
    header .bar i:hover + ul li {
        display: block;
        margin-bottom: 20px;
        transition: 0.3s;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -ms-transition: 0.3s;
        -o-transition: 0.3s;
}
    header .bar ul li:hover {
        transform: translateX(20px);
        -webkit-transform: translateX(20px);
        -moz-transform: translateX(20px);
        -ms-transform: translateX(20px);
        -o-transform: translateX(20px);
}
}
header .bar ul li a {
    color: white;
    text-decoration: none;
    font-size: 22px;
    text-transform: uppercase;
}
header .bar  .search {
    width: fit-content;
    overflow: hidden;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
@media screen and (max-width:992px) {
    header .bar  .search  {
        order: -1;
        margin-right: 40px;
    }
}
header .bar  .search input {
    background-color: transparent;
    font-size: 22px;
    padding: 10px 10px 10px 20px;
    border: solid 1px  var(--color1);
    border-radius: 10px 0px 0px 10px;
    -webkit-border-radius: 10px 0px 0px 10px;
    -moz-border-radius: 10px 0px 0px 10px;
    -ms-border-radius: 10px 0px 0px 10px;
    -o-border-radius: 10px 0px 0px 10px;
    caret-color: var(--color1);
}
header .bar  .search input:focus {
    outline: none;

}
header .bar  .search label {
    color: var(--color3);
    font-size: 22px;
    padding: 11px 23px;
    background-color: var(--color1);
    margin-left: -4px;
    text-transform: capitalize;
    cursor: pointer;
}
/* end header  */
/* start contant  */
.contant {
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(500px , 1fr));
    margin: 50px;
}
.contant .discription {

}
.contant .head  h1 {
   color: white;
   font-size: 50px;
}
.contant .head h1 span {
    color: var(--color1);
}
.contant .discription p {
    font-size: 20px;
    color: white;
    line-height: 1.3;
    margin-bottom: 30px;
}
.contant .discription button {
    font-size: 20px;
    padding: 10px 45px;
    text-transform: uppercase;
    background: var(--color1);
    color: var(--color2);
    border-radius: 14px;
    border: none;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    -ms-border-radius: 14px;
    -o-border-radius: 14px;
}
.login {
    grid-area: 1/2/3/3 ;
    background-color: #0000006e;
    padding: 20px;
    width: 350px;
    margin: auto;
}
.login  h2 {
    padding: 10px 20px;
    background-color: white;
    color: var(--color1);
    text-align: center;
    border-radius: 10px;
    text-transform: capitalize;
    margin-bottom: 20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.login input {
    width: 100%;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px var(--color1) solid;
    background: transparent;
    border-style: none none solid none;
}
.login button {
    padding: 10px 20px;
    background-color:var(--color1);
    text-align: center;
    border-radius: 10px;
    text-transform: capitalize;
    margin-bottom: 20px;
    width: 100%;
    border: none;
    cursor: pointer;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.login p:first-of-type span {
    color: var(--color1);
}
.login p {
    text-align: center;
    color: white;
}
.login p:last-of-type {
  margin-top: 10px;
}
.login .logo {
    text-align: center;
    color: white;
    font-size: 30px;
    word-spacing: 12px;
    margin: 20px;
}
.login .logo i {
    cursor: pointer;
}
@media screen and (max-width:992px) {
    .contant {
        margin-top: 50px;
        grid-template-columns: 1fr ;
        gap: 100px;
    }
    .login {
        grid-area: initial;
        order: 2;
        margin-bottom: 50px;
    }
    .contant .head  {
        order: 1;
    }
    .contant .head  h1 {
        text-align: center;
    }
    .contant .discription {
        order: 3;
    }
    .contant .discription p {
        text-align: center;
    }
    .contant .discription button {
        display: block;
        margin: auto;
    }
}
/* end contant  */